.post{
    position : fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.815);
    .bg-post{
        background-color: black;
      img{
        width: 800px;
        object-fit: cover;
      }
      h3{
        text-align: center;
        color: #fff;
      }
    }
}